# Editor
.idea*
.DS_*
._DS_*
._.*
.editorconfig

# Environment
.env

# Build output
dist/

# Cache directories
.cache/

# Dependency directories
node_modules
target
dist
logs
.next
npm-debug.log

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
